<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PuzzleStore</title>
    <link rel="stylesheet" href="../../static/puzzlestore/css/normalize.css">
    <link rel="stylesheet" href="../../static/puzzlestore/css/styles.css">
</head>
<body>
<header class="header">
    <div class="header__grid">
        <div class="header__logo">
            <img src="#" alt="CubeIcon">
            <span class="text--logo">PUZZLESTORE</span>
        </div>
        <div class="header__search">
            <input type="text" placeholder="Поиск">
            <!-- TODO лупу кнопку -->
            <!-- <button type="button"></button> -->
        </div>
        <a href="#" class="header__link header__auth">Вход/регистрация</a>
        
        <a href="#" class="header__link">Каталог</a>
        <a href="#" class="header__link link-cta">Новинки</a>
        <a href="#" class="header__link">Блог</a>
        <a href="#" class="header__link">Поддержка</a>
        <a href="#" class="header__link">О нас</a>
        <a href="#" class="header__link">Корзина</a>
    </div>
</header>
    <div class="breadcrumbs"></div>
    <h1 class="hidden">PuzzleStore</h1>
    <main>
        <section class="blog">
            <h2 class="blog__title h2">БЛОГ</h2>
            <div class="blog__container">
                <div class="blog__content-left">
                    <h3 class="blog__block-title">Самой полпулярной игрой стала тейбл тайм</h3>
                    <p class="blog__block-text">Самой полпулярной игрой стала <span class="underscored">тейбл тайм</span>, ведь это одна из лучших игр для большой компании!</p>
                    <a href="#" class="blog__link link-cta">Подробнее</a>
                </div>
                <div class="blog__content-right">
                    <!-- В идеале тут должна подгружаться картинка с блога, а не статичная -->
                    <img src="../../static/puzzlestore/images/TableTime.png" alt="Фото Тейбл тайм" class="blog__image">
                </div>
            </div>
        </section>
        
        <section class="popular">
            <h2 class="popular__title h2">ПОПУЛЯРНЫЕ ИГРЫ</h2>
            <div class="popular__wrapper">
                <button class="popular__button-left"></button>
                <div class="popular__scroller">
                    <div class="popular__card">
                        <img src="../../static/puzzlestore/images/popular_1.png" alt="popular game" class="popular__image">
                        <div class="popular__card-bottom">
                            <a href="#" class="popular__link link-cta">к товару</a>
                        </div>
                    </div>

                    <div class="popular__card">
                        <img src="../../static/puzzlestore/images/popular_2.png" alt="popular game" class="popular__image">
                        <div class="popular__card-bottom">
                            <a href="#" class="popular__link link-cta">к товару</a>
                        </div>
                    </div>
                    
                    <div class="popular__card">
                        <img src="../../static/puzzlestore/images/popular_3.png" alt="popular game" class="popular__image">
                        <div class="popular__card-bottom">
                            <a href="#" class="popular__link link-cta">к товару</a>
                        </div>
                    </div>

                    <div class="popular__card">
                        <img src="../../static/puzzlestore/images/popular_4.png" alt="popular game" class="popular__image">
                        <div class="popular__card-bottom">
                            <a href="#" class="popular__link link-cta">к товару</a>
                        </div>
                    </div>
                </div>
                <button class="popular__button-left"></button>
            </div>
        </section>

        <section class="about">
            <h2 class="about__title h2">О нас</h2>
            <p class="about__description">
                Puzzle store - не просто магазин головоломок, это место, где сбываются <span class="underscored">детские мечты</span>. 
                Целые миры доступны для исследования и весёлого времяпрепровождения
            </p>
            
            <div class="about__slider">
                <button class="about__arrow about__arrow--left" type="button"></button>
                
                <div class="about__slides">
                    <div class="about__slide about__slide--side about__slide--left">
                        <img src="../../static/puzzlestore/images/shop.png" alt="Магазин" class="about__image">
                    </div>
                    <div class="about__slide about__slide--active">
                        <img src="../../static/puzzlestore/images/shop.png" alt="Магазин" class="about__image">
                        <div class="about__card-bottom">
                            <a href="#" class="about__map-btn link-cta">Карта</a>
                        </div>
                    </div>
                    <div class="about__slide about__slide--side about__slide--right">
                        <img src="../../static/puzzlestore/images/shop.png" alt="Магазин" class="about__image">
                    </div>
                </div>
                
                <button class="about__arrow about__arrow--right" type="button"></button>
            </div>
            
            <div class="about__dots">
                <span class="about__dot"></span>
                <span class="about__dot"></span>
                <span class="about__dot about__dot--active"></span>
                <span class="about__dot"></span>
                <span class="about__dot"></span>
            </div>
        </section>

        <section class="reviews">
            <h2 class="reviews__title h2">Отзывы</h2>
            <div class="reviews__container">
                <div class="reviews__card">
                    <div class="reviews__top">
                        <div class="reviews__stars">★★★★★</div>
                        <div class="reviews__author">
                            <img src="../../static/puzzlestore/images/avatar.png" alt="Михаил" class="reviews__avatar">
                            <span class="reviews__name">Михаил</span>
                        </div>
                    </div>
                    <div class="reviews__text">
                        Настолка класс! Настолка класс! Настолка класс! Настолка класс!
                    </div>
                    <div class="reviews__date">25 сентября</div>
                </div>

                <div class="reviews__card">
                    <div class="reviews__top">
                        <div class="reviews__stars">★★★★★</div>
                        <div class="reviews__author">
                            <img src="../../static/puzzlestore/images/avatar.png" alt="Не Михаил" class="reviews__avatar">
                            <span class="reviews__name">Не Михаил</span>
                        </div>
                    </div>
                    <div class="reviews__text">
                        Доставка быстрая, игра не пострадала, поддержка вежливая, куплю ещё!)))
                    </div>
                    <div class="reviews__date">21 февраля</div>
                </div>

                <div class="reviews__card">
                    <div class="reviews__top">
                        <div class="reviews__stars">★★★★★</div>
                        <div class="reviews__author">
                            <img src="../../static/puzzlestore/images/avatar.png" alt="Миха" class="reviews__avatar">
                            <span class="reviews__name">Миха</span>
                        </div>
                    </div>
                    <div class="reviews__text">
                        Друг посоветовал, остался доволен
                    </div>
                    <div class="reviews__date">1 января</div>
                </div>

            </div>
        </section>

        <section class="delivery">
            <h2 class="delivery__title h2">Доставка и оплата</h2>
            <div class="delivery__wrapper"></div>
        </section>

        <section class="sales">
            <h2 class="sales__title h2">Акции</h2>
            <div class="sales__wrapper"></div>
        </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>